<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background-image"></div>

  <div id="header">
    <h1 id="name">Patito travel </h1>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="signup()" novalidate>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input formControlName="name" type="text" class="form-control"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="mail" type="email" class="form-control"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password" class="form-control"></ion-input>
    </ion-item>
    <br>
    Seleccionar rol
    <ion-button (click)='turista()' expand='block'>Turista</ion-button>
    <ion-button (click)='encargado()' expand='block'>Encargado</ion-button>
    <br>

    <!-- <ion-item *ngFor="let name of people; let i=index">
      <ion-label (ionSelect)="setPerson($event)">{{name.name}}</ion-label>
      <ion-radio (ionSelect)="setPerson($event)" value="{{name.value}}">
      </ion-radio>
    </ion-item> -->

    <ion-button (click)='signup()' expand='block'>Signup</ion-button>
    <ion-button (click)='logout()' expand='block' color="secondary">Inicio de sesión</ion-button>
  </form>
</ion-content>